.header__gamburger {
  display: none;
  background-color: transparent;
  border: none;
  background-image: url(../../../images/menu.svg);
  background-position: center;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

@media screen and (max-width: 480px) {
  .header__gamburger {
    display: block;
  }

  .header__gamburger:active + .header__mobil-menu {
    display: flex;
  }
}
