.card__title {
  font-family: Roboto Slab, arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin-top: 12px;
  margin-bottom: 0px;
}

@media screen and (max-width: 900px) {
  .card__title {
    font-size: 22px;
    line-height: 24px;
  }
}

@media screen and (max-width: 600px) {
  .card__title {
    margin-top: 10px;
  }
}
