.card__description {
  width: 352px;
  height: 304px;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 1370px) {
  .card__description {
    width: calc(100% - 32px);
    height: 222px;
  }
}

@media screen and (max-width: 768px) {
  .card__description {
    height: 197px;
  }
}