.popup__title {
  color: #1a1b22;
  font-family: Roboto Med, arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  margin-top: 34px;
  margin-bottom: 22px;
  width: calc(100% - 72px);
}

@media screen and (max-width: 480px) {
  .popup__title {
    width: calc(100% - 34px);
    margin-top: 16px;

  }
}

