.card__info {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  margin-top: 16px;
  margin-bottom: 0px;
  max-height: 132px;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;

}

@media screen and (max-width: 900px) {
  .card__info {
    font-size: 16px;
    line-height: 22x;
    margin-top: 10px;
  }
}
