.card__info {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  margin-top: 16px;
  margin-bottom: 0px;
  max-height: 130px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 900px) {
  .card__info {
    -webkit-line-clamp: 4;
    max-height: 88px;
    line-height: 20x;
    margin-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  .card__info {
    -webkit-line-clamp: 3;
    max-height: 66px;
  }
}

