.search-results__title {
  margin-top: 0;
  font-size: 40px;
  text-align: left;
  margin-bottom: 64px;
  width: calc(100% - 208px);
}

@media screen and (max-width: 1050px) {
  .search-results__title {
    font-size: 30px;
    width: 90%;
    margin-bottom: 32px;
  }
}
