.header__button_logout {
  width: 112px;
  display: flex;
  padding-left:19px;
  padding-right:19px;
  align-items: center;
}


@media screen and (max-width: 792px) {
  .header__button_logout {
    width: 100px;
    padding-left:15px;
    padding-right:15px;
  }
}