@import url(./__button/cards-list__button.css);
@import url(./__button/_is-opened/cards-list__button_is-opened.css);


.cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 16px 16px;
  justify-content: center;
  width: calc(100% - 204px);
}

@media screen and (max-width: 1440px) {
  .cards-list {
    width: calc(100% - 16px);
  }
}

@media screen and (max-width: 900px) {
  .cards-list {
    width: calc(100% - 80px);
    grid-template-columns: repeat(auto-fill, 224px);
    grid-gap: 8px 8px;
  }
}

@media screen and (max-width: 767px) {
  .cards-list {
    width: calc(100% - 32px);
  }
}

@media screen and (max-width: 600px) {
  .cards-list {
    grid-template-columns: repeat(auto-fill, 288px);
    grid-gap: 10px 10px;
  }
}