@import url(./__loader/search-action__loader.css);
@import url(./__description/search-action__description.css);
@import url(./__title/search-action__title.css);
@import url(./__title/_is-close/search-action__title_is-close.css);
@import url(./__pic/search-action__pic.css);
@import url(./_is-opened/search-action_is-opened.css);


.search-action {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  background-color: #F5F6F7;
  color: #B6BCBF;
  width: inherit;
  display:none;
}
