@import url(./__data/card__data.css);
@import url(./__description/card__description.css);
@import url(./__pic/card__pic.css);
@import url(./__source/card__source.css);
@import url(./__title/card__title.css);
@import url(./__info/card__info.css);
@import url(./__pic/card__pic.css);
@import url(./__item/card__item.css);
@import url(./__keyword/card__keyword.css);
@import url(./__hint/card__hint.css);
@import url(./__icon/card__icon.css);
@import url(./__icon/_bookmark/card__icon_bookmark.css);
@import url(./__icon/_bookmark-marked/card__icon_bookmark-marked.css);
@import url(./__hint/_bookmark/card__hint_bookmark.css);
@import url(./__hint/_trash/card__hint_trash.css);
@import url(./__icon/_bookmark/card__icon_bookmark_logout.css);
@import url(./__icon/_trash/card__icon_trash.css);
@import url(./__description-wraper/card__description-wraper.css);
@import url(./__description-container/card__description-container.css);

.card {
  position: relative;
  width: 400px;
  height: 576px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  cursor: url(../../images/lapka.png), pointer;
}


@media screen and (max-width: 900px) {
  .card {
    width: 224px;
    height: 420px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 288px;
    height: 440px;
  }
}
