.header__mobil-container {
  background-color: #1A1B22;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  z-index: 11;
  border-radius: 0 0 16px 16px;
}
