.card__icon_bookmark-marked {
  background-image: url('../../../../images/bookmark_marked.svg');
}


.card__icon_bookmark-marked:hover{
  background-image: url("data: image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style = 'fill:blue; stroke:blue; stroke-width: 2;' %3E%3Cg%3E%3Cpath d='M11.3822 15.7137L6 19.9425V4L18 4V19.9425L12.6178 15.7137L12 15.2283L11.3822 15.7137Z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 24px;
}
