.card__pic_01 {
  background: url(../../../../images/example/image01.png);
}

.card__pic_02 {
  background: url(../../../../images/example/image_02.png);
}

.card__pic_03 {
  background: url(../../../../images/example/image_03.png);
}

.card__pic_04 {
  background: url(../../../../images/example/image_04.png);
}

.card__pic_05 {
  background: url(../../../../images/example/image_05.png);
}

.card__pic_06 {
  background: url(../../../../images/example/image_06.png);
}
