
@import url(./__glass/page-top__glass.css);


.page-top {
  display: flex;
  flex-direction: column;
  background-image: url('../../images/bgimage.jpg');
  background-size: cover;
  width: inherit;
  height: 576px;
}
