
@import url(./__logo/header__logo.css);
@import url(./__menu/header__menu.css);
@import url(./__change/header__change.css);
@import url(./__change/_is-opened/header__change_is-opened.css);
@import url(./__change/_is-inactive/header__change_is-inactive.css);
@import url(./__change-ref/header__change-ref.css);
@import url(./__button/header__button.css);
@import url(./__button/_auth/header__button_auth_desktop.css);
@import url(./__logout-pic/header__logout-pic.css);
@import url(./__button-caption/header__button-caption.css);
@import url(./__button-caption/_desktop/header__button-caption_desktop.css);
@import url(./__button/_mobil/header__button_mobil.css);
@import url(./__button/_logout/header__button_logout.css);
@import url(./__button/_logout/header__button_logout_mobil.css);
@import url(./__button/_is-opened/header__button_is-opened.css);
@import url(./__shadow-grey/header__shadow-grey.css);
@import url(./__shadow-white/header__shadow-white.css);
@import url(./__change/_underline-black/header__change_underline-black.css);
@import url(./__change/_is-inactive/header__change_is-inactive_color-black.css);
@import url(./__button/_color-black/header__button_color-black.css);
@import url(./__logout-pic/_black/header__logout-pic_black.css);
@import url(./__gamburger/header__gamburger.css);
@import url(./__mobil-menu/header__mobil-menu.css);
@import url(./__mobil-menu/_is-opened/header__mobil-menu_is-opened.css);
@import url(./__mobil-container/header__mobil-container.css);
@import url(./__gamburger/_cross/header__gamburger_cross.css);
@import url(./__mobil-links/header__mobil-links.css);
@import url(./__mobil-link/header__mobil-link.css);
@import url(./__mobil-link/_is-opened/header__mobil-link_is-opened.css);
@import url(./__mobil-menu/_color-white/header__mobil-menu_color-white.css);
@import url(./__gamburger/_black/header__gamburger_black.css);
@import url(./__fixed/header__fixed.css);

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  font-family: Roboto Med, arial, sans-serif;
}


@media screen and (max-width: 792px) {
  .header {
    height: 66px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    height: 56px;
  }
}

