
@import url(./__logo/header__logo.css);
@import url(./__menu/header__menu.css);
@import url(./__change/header__change.css);
@import url(./__change/_is-close/header__change_is-close.css);
@import url(./__change/_is-inactive/header__change_is-inactive.css);
@import url(./__change-ref/header__change-ref.css);
@import url(./__button/header__button.css);
@import url(./__logout-pic/header__logout-pic.css);
@import url(./__button-caption/header__button-caption.css);
@import url(./__button/_logout/header__button_logout.css);





.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}
